// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.following-base{
	background: #D7D5D5;
	cursor: pointer;
	color: #000000;
	padding:5px 15px 5px 15px;
}
.following-base:hover{
	background: #B5B5B5;
	padding:5px 15px 5px 15px;
	cursor: pointer;
	-webkit-box-shadow: -1px -1px 12px 0px rgba(31, 50, 50, 0.6);
	-moz-box-shadow:    -1px -1px 12px 0px rgba(31, 50, 50, 0.6);
	box-shadow:         -1px -1px 12px 0px rgba(31, 50, 50, 0.6);
}

.transition{
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

.followed-topic-box{
    padding-top:10px;
    background: white;
    height: 200px !important;
    @extend .transition;
}

.followed-topic-box:hover{

    height: 260px;
    -webkit-box-shadow: -8px -5px 12px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -8px -5px 12px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -8px -5px 12px 0px rgba(50, 50, 50, 0.75);

}

.choose_file{
    position:relative;
    display:inline-block;    
    border-radius:8px;
    border:#ebebeb solid 1px;
    width:250px; 
    padding: 4px 6px 4px 8px;
    color: #7f7f7f;
    margin-top: 2px;
    margin-bottom: 10px;
    background:white;
     @extend .transition;
}
.choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}
.choose_file:hover{
    -webkit-box-shadow: -8px -5px 12px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -8px -5px 12px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -8px -5px 12px 0px rgba(50, 50, 50, 0.75);
}