

<div class="choose_file">
	<span>Select Product</span>
	   <input type="file" name='img1' id='file1' onchange="onFileSelectedOne(event)"/>
</div>

<div class="choose_file">
	<span>Select Your Image</span>
	     <input type="file" name='img1' id='file2' onchange="onFileSelectedTwo(event)"/>
</div>

   <button id="save" class='tiny'>Save</button>
   <div id="container"></div>
   <% content_for :my_script do %>
   <%= javascript_include_tag "kinetic.min"%>
   <%= javascript_include_tag "cuscanvas"%>
   <% end %>
