
<div class="row">
  <div class="large-8 columns large-centered">
    <h1>Listing products</h1>
  
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
       <% @products.each do |product| %>
       <li>
        <div class="followed-topic-box">
          <div style='font-size:20px;width:100%;text-align:center;'> <%= product.url %></div>
          <div><%= image_tag product.avatar.to_s, width: '200px'%></div>
          <div style='width:100%;text-align:center;'><button class='tiny'>Add to cart</button></div>
        </div>
      </li>
      <%end%>
    </ul>

 <%= link_to 'New Product', new_product_path,class: 'button tiny' %>
</div>

</div>

