<p id="notice"><%= notice %></p>
<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>
<p>
	      <td> <%= image_tag @product.avatar.to_s, width: '400px'%></td>

</p>
<p><button>Add to cart</button></p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
